h1 {
    display: flex;
    justify-content: center;
}

.course-select {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    div {

        position: relative;

        img {
            object-fit: cover;
        }
    
        h2 {
            position: absolute;
            bottom: 8px;
            left: 16px;
            color: white;
            text-shadow: 5px 5px 10px black;

        }

        &:hover img {
            transition-duration: 1.5s;
            transform: scale(1.1);
        }
    }

}

// .center {
//     display: flex;
//     justify-content: center;
//     align-content: center;
// }

// .courses {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
// }
