<h1 class="center">Course & Player Settings</h1>
<mat-card *ngIf="courseData">
    <h2>{{ courseData.data.name }}</h2>
    <form [formGroup]="matFormGroup" (ngSubmit)="onSubmit()" novalidate>
        <div class="flex">
            <div class='right-side'>
                <h3>Enter Player Name(s) Here!</h3>
                <div class="playerList">
                    <section>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Player1" formControlName="player1">
                        </mat-form-field>
                    </section>
                    <section>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Player2" formControlName="player2">
                        </mat-form-field>
                    </section>
                    <section>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Player3" formControlName="player3">
                        </mat-form-field>
                    </section>
                    <section>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Player4" formControlName="player4">
                        </mat-form-field>
                    </section>
                </div>
                <h3>Select Course Settings Here!</h3>
                <div class="courseSettings">
                    <section>
                        <mat-form-field appearance='fill'>
                            <mat-label>Teebox!</mat-label>
                            <mat-select formControlName="teebox" required>
                                <mat-option>-=-=-</mat-option>
                                <mat-option *ngFor="let teeBox of courseData.data.holes[0].teeBoxes"
                                    [value]="teeBox.teeTypeId">
                                    {{ teeBox.teeType }}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                Teebox needs to be specified
                            </mat-error>
                        </mat-form-field>
                    </section>
                </div>
            </div>
        </div>
        <div class="flexButton">
            <button mat-button 
            type="submit" 
            [routerLink]="['/scorecard/', courseId]"
            (click)="onSubmit()"
            [disabled]="!matFormGroup.valid"
            >
                Play Game!
            </button>
        </div>
    </form>
</mat-card>


<!-- [routerLink]="['/scorecard/', courseId]" 
(click)="noDuplicates()"-->