.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

button {
    background: aqua;
}

.flexButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
}

