<h1 class="center">Course & Player Settings</h1>
<mat-card>
    <h2>Course Name Here</h2>
    <div class="flex">
        <mat-form-field class='right-side'>
            <h3>Enter Player Name(s) Here!</h3>
            <div class="playerList">
                <section>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Player1">
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Player2">
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Player3">
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Player4">
                    </mat-form-field>
                </section>
            </div>
            <h3>Select Course Settings Here!</h3>
            <div class="courseSettings">
                <section>
                    <mat-label>Teebox!</mat-label>
                    <mat-option></mat-option>
                    <mat-error>
                        Teebox needs to be specified
                    </mat-error>
                </section>
                <section>
                    <mat-label>Holes!</mat-label>
                    <mat-option></mat-option>
                    <mat-error>
                        Amount of holes needs to be declared
                    </mat-error>
                </section>
            </div>
        </mat-form-field>
    </div>
    <div class="flexButton">
        <button 
            mat-button
            
            >
            Play Game!
        </button>
    </div>
</mat-card>