<mat-card *ngIf="courseData">
    <h1 class="center">ScoreCard!</h1>
    <section>
        <div id="golf-card">
            <!-- holes 1-9 scorecard -->
            <div id="holes1-9">
                <div class="row ml-3">
                    <div class="col-1 text-center">HOLE</div>
                    <div class="col-1 text-center">1</div>
                    <div class="col-1 text-center">2</div>
                    <div class="col-1 text-center">3</div>
                    <div class="col-1 text-center">4</div>
                    <div class="col-1 text-center">5</div>
                    <div class="col-1 text-center">6</div>
                    <div class="col-1 text-center">7</div>
                    <div class="col-1 text-center">8</div>
                    <div class="col-1 text-center">9</div>
                    <div class="col-1 text-center">OUT</div>
                </div>
                <div class="row ml-3">
                    <div class="col-1 text-center">YARDS</div>
                    <div class="col-1 text-center" id="yards0">{{ courseData.data.holes[0].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards1">{{ courseData.data.holes[1].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards2">{{ courseData.data.holes[2].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards3">{{ courseData.data.holes[3].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards4">{{ courseData.data.holes[4].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards5">{{ courseData.data.holes[5].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards6">{{ courseData.data.holes[6].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards7">{{ courseData.data.holes[7].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards8">{{ courseData.data.holes[8].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center"></div>
                </div>
                <div class="row ml-3">
                    <div class="col-1 text-center"> HDCP</div>
                    <div class="col-1 text-center" id="hcp0">{{ courseData.data.holes[0].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp1">{{ courseData.data.holes[1].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp2">{{ courseData.data.holes[2].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp3">{{ courseData.data.holes[3].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp4">{{ courseData.data.holes[4].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp5">{{ courseData.data.holes[5].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp6">{{ courseData.data.holes[6].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp7">{{ courseData.data.holes[7].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp8">{{ courseData.data.holes[8].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center"></div>
                </div>
                <div class="row ml-3">
                    <div class="col-1 text-center">PAR</div>
                    <div class="col-1 text-center parItems" id="par0">{{ courseData.data.holes[0].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par1">{{ courseData.data.holes[1].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par2">{{ courseData.data.holes[2].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par3">{{ courseData.data.holes[3].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par4">{{ courseData.data.holes[4].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par5">{{ courseData.data.holes[5].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par6">{{ courseData.data.holes[6].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par7">{{ courseData.data.holes[7].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par8">{{ courseData.data.holes[8].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center"></div>
                </div>
                <div class="row ml-3" *ngFor="let player of players">
                    <div class="col-1 text-center">{{ player.name }}</div>
                    
                        <input *ngFor="let hole of holes | slice:0:9" class="col-1 text-center" type="number" [(ngModel)]="player[hole]">
                    
                    <div class="col-1 text-center">{{ getTotalOut(player) }}</div>
                </div>
            </div>
            <div class="spacer10"></div>
            <!-- holes 10-18 scorecard -->
            <div id="holes10-18">
                <div class="row ml-3">
                    <div class="col-1 text-center">HOLE</div>
                    <div class="col-1 text-center">10</div>
                    <div class="col-1 text-center">11</div>
                    <div class="col-1 text-center">12</div>
                    <div class="col-1 text-center">13</div>
                    <div class="col-1 text-center">14</div>
                    <div class="col-1 text-center">15</div>
                    <div class="col-1 text-center">16</div>
                    <div class="col-1 text-center">17</div>
                    <div class="col-1 text-center">18</div>
                    <div class="col-1 text-center">IN</div>
                </div>
                <div class="row ml-3">
                    <div class="col-1 text-center">YARDS</div>
                    <div class="col-1 text-center" id="yards9">{{ courseData.data.holes[9].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards10">{{ courseData.data.holes[10].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards11">{{ courseData.data.holes[11].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards12">{{ courseData.data.holes[12].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards13">{{ courseData.data.holes[13].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards14">{{ courseData.data.holes[14].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards15">{{ courseData.data.holes[15].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards16">{{ courseData.data.holes[16].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center" id="yards17">{{ courseData.data.holes[17].teeBoxes[teebox].yards }}
                    </div>
                    <div class="col-1 text-center"></div>
                </div>
                <div class="row ml-3">
                    <div class="col-1 text-center"> HDCP</div>
                    <div class="col-1 text-center" id="hcp9">{{ courseData.data.holes[9].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp10">{{ courseData.data.holes[10].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp11">{{ courseData.data.holes[11].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp12">{{ courseData.data.holes[12].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp13">{{ courseData.data.holes[13].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp14">{{ courseData.data.holes[14].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp15">{{ courseData.data.holes[15].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp16">{{ courseData.data.holes[16].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center" id="hcp17">{{ courseData.data.holes[17].teeBoxes[teebox].hcp }}</div>
                    <div class="col-1 text-center"></div>
                </div>
                <div class="row ml-3">
                    <div class="col-1 text-center">PAR</div>
                    <div class="col-1 text-center parItems" id="par9">{{ courseData.data.holes[9].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par10">{{ courseData.data.holes[10].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par11">{{ courseData.data.holes[11].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par12">{{ courseData.data.holes[12].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par13">{{ courseData.data.holes[13].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par14">{{ courseData.data.holes[14].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par15">{{ courseData.data.holes[15].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par16">{{ courseData.data.holes[16].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center parItems" id="par17">{{ courseData.data.holes[17].teeBoxes[teebox].par
                        }}</div>
                    <div class="col-1 text-center"></div>
                </div>
                <div class="row ml-3" *ngFor="let player of players">
                    <div class="col-1 text-center">{{ player.name }}</div>
                        <input *ngFor="let hole of holes | slice:9:18" class="col-1 text-center" type="number" [(ngModel)]="player[hole]"> 
                    <div class="col-1 text-center">{{ getTotalIn(player) }}</div>
                </div>
            </div>
            <br>

            <div class="totals">
                <div class="row ml-3">
                    <div class="col-1 text-center">Name</div>
                    <div class="col-1 text-center">Total</div>
                    <div class="col-2 text-center">Outcome</div>
                </div>
                <div class="row ml-3" *ngFor="let player of players">
                    <div class="col-1 text-center">{{ player.name }}</div>
                    <div class="col-1 text-center">{{ getTotal(player) }}</div>
                    <div class="col-2 text-center"></div>
                </div>
            </div>
            <br>
        </div>
    </section>
</mat-card>